.headerRow {
    display:table-row;
    text-align:center;
    font-size:12pt;
    text-underline:single;
    border:solid 1px black;
    background-color:darkgray;
    font-weight: bold;
    color:ghostwhite;
}

td {
    display:table-cell;
    border:solid 1px black;
    margin:5px;
}

#schoolTable {
    display:table;
    border: solid 2px darkviolet;
    float:left;
    width:45%;
}

.progOpsList {
    float:left;
}

.progReqsList {
    float:right;
}
.expreq {
    visibility: hidden;
}

.genreq {
    visibility: hidden;
}
.docreq {
    visibility:hidden;
}

#schoolForm {
    visibility: hidden;
    float:right;
    width:40%;
}

.opSection {
    border:1px solid darkgreen;
    border-radius:5px;
    width:250px;
    background-color:lightgray;;
}

.reqSection {
    border:1px solid darkblue;
    border-radius:5px;
    width:250px;
    background-color:lightgray;
}

.editable {
    color:orange;
    font-style: oblique;
    text-underline: dash-long-heavy;
}