.headerRow {
    display:table-row;
    text-align:center;
    font-size:12pt;
    text-underline:single;
    border:solid 1px black;
    background-color:darkgray;
    font-weight: bold;
    color:ghostwhite;
}

fieldset {
    border:double 1px darkslategray;
}

.buttonSet {
    border:ridge 2px rebeccapurple;
    width:450px;
    background-color:darkslategray;
}

.buttonSet > button {
    display:inline-block;
    margin:0 20px;
}

td {
    display:table-cell;
    border:solid 1px black;
    margin:20px 20px;
}

#schoolTable {
    display:table;
    border: solid 2px darkviolet;
    float:left;
    width:75%;
}

.progOpsList {
    float:left;
}

.progReqsList {
    float:right;
}
.expreq {
    visibility: hidden;
}

.genreq {
    visibility: hidden;
}
.docreq {
    visibility:hidden;
}

#schoolForm {
    visibility: hidden;
    float:right;
    width:40%;
}

.opSection {
    border:1px solid darkgreen;
    border-radius:5px;
    width:250px;
    background-color:lightgray;
    clear:both;
}

.reqSection {
    border:1px solid darkblue;
    border-radius:5px;
    width:250px;
    background-color:lightgray;
    clear:both;
}

.linkSection {
    border:1px solid orangered;
    border-radius:5px;
    width:inherit;
    background-color:lightgray;
    clear:both;
}

.editable {
    color:orange;
    font-style: oblique;
    text-underline: dash-long-heavy;
}